*.iml
/Android/MacrotellectLinkDemo/local.properties/
/Android/MacrotellectLinkDemo/.idea/caches/
/Android/MacrotellectLinkDemo/.idea/libraries/
/Android/MacrotellectLinkDemo/.idea/modules.xml
/Android/MacrotellectLinkDemo/.idea/workspace.xml
/Android/MacrotellectLinkDemo/.idea/assetWizardSettings.xml
/Android/MacrotellectLinkDemo/.DS_Store
*/build
*/captures
*.externalNativeBuild
*.cxx
